body {
  background-color: #2d282b;
  color: #fff;
}
ul {
  margin: 0 auto;
  padding: 0 auto;
}
li {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  top: 72px;
}
h1 {
  background-color: #6f6464;
  padding: 5px;
  font-family: "Carter One", cursive;
  font-size: 30px;

  margin: 0 0 37px 0;
}

h6 {
  font-size: 12px;
  padding-top: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background-image: linear-gradient(#ee830f, #322338, #ee830f);
  max-width: 600px;
  margin: 30px auto 0;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.searchBar {
  padding-left: 40%;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color-scheme: #e3fdf5;
  font-style: italic;
  text-align: right;
}
.properties {
  margin: 20px 0px 20px 0px;
}
.currentWeather {
  text-align: right;
  padding: 10px 0 0 0;
}
.general {
  border-style: dotted;
  border-width: 5px;
  border-color: #fff;
  width: 233px;
  height: 244px;
  border-radius: 50%;
  margin: 0 20px 0 7px;
}
#month {
  font-size: 20px;
}
.units {
  position: relative;
  top: -35px;
}

#temperature {
  font-size: 50px;
  font-family: "Carter One", cursive;
}
#icon {
  height: 89px;
  width: 86px;
  margin: 15px 0 0 0;
}

.units .active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
#description {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
