body {
  background-color: #2d282b;
}
ul {
  margin: 0 auto;
  padding: 0 auto;
}
li {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  top: 72px;
}
h1 {
  padding: 5px;
  font-family: "Carter One", cursive;
  font-size: 30px;
  color: #fff;
  margin: 0 0 37px 0;
  background-color: black;

  opacity: 0.6;
}

h6 {
  font-size: 12px;
  padding-top: 10px;
  color: #fff;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background-image: linear-gradient(#f0b86e, #ed7b7b, #836096);
  max-width: 600px;
  margin: 30px auto 0;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.searchBar {
  padding-left: 40%;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color-scheme: #e3fdf5;
  font-style: italic;
  text-align: right;
}
.properties {
  margin: 20px 0px 20px 0px;
}
.currentWeather {
  text-align: right;
  padding: 10px 0 0 0;
}
.general {
  border-style: dotted;
  border-width: 5px;
  border-color: black;
  width: 233px;
  height: 244px;
  border-radius: 50%;
  margin: 0 20px 0 10px;
  padding: 0 20px 0 0;
  color: #fff;
}
#month {
  font-size: 20px;
  color: #fff;
}
.units {
  position: relative;
  top: -35px;
}

#temperature {
  font-size: 50px;
  font-family: "Carter One", cursive;
}

#icon {
  height: 96px;
  width: 100px;
  margin: 15px 0 0 0;
}

#description {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
